[submodule "profiles/derek"]
	path = profiles/derek
	url = git@github.com:hereisderek/homeserver_profile.git
	branch = derek
[submodule "profiles/worker001"]
	path = profiles/worker001
	url = git@github.com:hereisderek/homeserver_profile.git
	branch = worker001
[submodule "profiles/miner"]
	path = profiles/miner
	url = git@github.com:hereisderek/homeserver_profile.git
	branch = miner
